<header>
    <div class="quote">
        <p class="quote_text">Белеет парус одинокой <br>
            В тумане моря голубом!..<br>
            Что ищет он в стране далекой?<br>
            Что кинул он в краю родном?..<br>
            <br>
            Играют волны — ветер свищет,<br>
            И мачта гнется и скрыпит…<br>
            Увы! он счастия не ищет<br>
            И не от счастия бежит!<br>
            <br>
            Под ним струя светлей лазури,<br>
            Над ним луч солнца золотой…<br>
            А он, мятежный, просит бури,<br>
            Как будто в бурях есть покой</p>
        <p class="quote_author">Парус М.Лермонтов</p>
    </div>
    <nav>
        <ul class="nav">
            <li class="nav_item">Блог</li>
            <li class="nav_item">Обо мне</li>
            <li class="nav_item">Контакты</li>
        </ul>
    </nav>
</header>