<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Flexbox</title>
</head>
<body>
    <h2>Flexbox - это ориентирование элемента относительно его родителя по высоте и горизонтали и все.</h2>
    <div class="bl">
        <div class="el">1</div>
        <div class="el">1</div>
        <div class="el">2</div>
        <div class="el">3</div>
        <div class="el">3</div>
        <div class="el">3</div>
    </div>
    <div class="property">
        <div class="property__item">
            <h2 class="item__title">display: flex</h2>
            <div class="item__desc"><p>Устанавливает для дочерних элементов специфическое поведение flex</p></div>
        </div>
        <div class="property__item">
            <h2 class="item__title">flex-direction: column | row</h2>
            <div class="item__desc">Начальное расположение элементов, горизонтально либо вертикально</div>
        </div>
        <div class="property__item">
            <h2 class="item__title">flex-wrap: wrap | nowrap</h2>
            <div class="item__desc">Поведение коллекции при переполнении родительского контейнера</div>
        </div>
        <div class="property__item">
            <h2 class="item__title">flex-flow: flex-direction, flex-wrap</h2>
            <div class="item__desc"></div>
        </div>
        <div class="property__item">
            <h2 class="item__title">justify-content: center | flex-start | flex-end | space-between | space-around</h2>
            <div class="item__desc">поведение элементов в строке</div>
        </div>

        <div class="property__item">
            <h2 class="item__title">align-items: stretch | center</h2>
            <div class="item__desc">положение элементов по высоте</div>
        </div>
        <div class="property__item">
            <h2 class="item__title">align-content: center | space-between | space-around</h2>
            <div class="item__desc">распределение строк по высоте</div>
        </div>
        <div class="property__item">
            <h2 class="item__title">order: [n]</h2>
            <div class="item__desc"></div>
        </div>
        <div class="property__item">
            <h2 class="item__title">flex-grow</h2>
            <div class="item__desc">растягивание</div>
        </div>
        <div class="property__item">
            <h2 class="item__title">flex-shrink</h2>
            <div class="item__desc">сужение</div>
        </div>
        <div class="property__item">
            <h2 class="item__title">flex-basis</h2>
            <div class="item__desc">условная ширина</div>
        </div>
        <div class="property__item">
            <h2 class="item__title">flex: none | flex-grow flex-shrink flex-basis</h2>
            <div class="item__desc"></div>
        </div>
        <div class="property__item">
            <h2 class="item__title">align-self</h2>
            <div class="item__desc">положение элемента по высоте</div>
        </div>
        <div class="property__item">
            <h2 class="item__title"></h2>
            <div class="item__desc"></div>
        </div>
    </div>
</body>
</html>