<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="960.css">
    <style>
        .container_12 {
            background-image: url(img/12_col.gif);
            background-repeat: repeat-y;
            
        }
        .nav {
            background-color: #8FC73E;
            margin-top: 10px;
            margin-bottom: 10px;
            height: 25px;
            padding-top: 10px;
        }
        .nav__item a {
            color: #000;
            font-weight: 700;
            text-decoration: none;
            padding: 5px;
        }
        .nav__item a:hover {
            text-decoration: underline;
        }
        h2 {
            font-size: 1.4em;
            font-weight: 700;
            text-align: center;
            margin-bottom: 10px;
        }
        .border {
            border: 10px solid #E5E5E6;
            box-sizing: border-box;
        }
        .greenLine {
            height: 20px;
            background-color: #8FC73E;
            margin: 10px;
        }
        .desc-short {
            background: #ddd;
/*            margin-left: 10px;*/
        }
        .footer {
            text-align: center;
        }
    </style>
    <title>Grid 960</title>
</head>
<body>
   <div class="container_12">
       <div class="grid_4">
           <p>Что это такое и с чем его едят?</p>
           <p>Технология 2010 года...</p>
       </div>
       <div class="grid_8">
           <p>Two column</p>
       </div>
       <div class="clear"></div>
       <div class="grid_5">
           <p>Получается, а как перейти на следующую строку? Новый контейнер? Нет предусмотренна проставка .clear</p>
       </div>
   </div>
   <hr>
   <div class="container_12">
       <div class="grid_12"><img src="img/header.png" alt=""></div>
       <div class="clear"></div>
       <div class="grid_12">
           <ul class="nav">
               <li class="nav__item fl"><a href="">Articles</a></li>
               <li class="nav__item fl"><a href="">Topics</a></li>
               <li class="nav__item fl"><a href="">About</a></li>
               <li class="nav__item fl"><a href="">Editors</a></li>
               <li class="nav__item fl"><a href="">Contact</a></li>
           </ul>
       </div>
       <div class="clear"></div>
       <div class="grid_7 border">
           <h2>Американский футбол</h2>
           <p>Известный в США как футбол — контактный командный вид спорта. В нём принимают участие две команды, по одиннадцать игроков с каждой стороны, играют овальным мячом на прямоугольном поле, длиной 120 ярдов (109,728 метра, из них 100 ярдов (~91,45 метров) — игровая зона и по 10 крайних ярдов — очковые зоны команд (англ. end zone)) и шириной 53,3 ярда (48,738 метра) с воротами в виде рогатки на обоих концах. Команда должна владеть мячом для продвижения его в очковую зону, неся или пасуя мяч. Сначала одной из команд надо продвинуть мяч на 10 ярдов (даётся 4 попытки). Если им это удастся, они получают ещё четыре попытки. В противном случае, мяч достаётся соперникам. Очки можно набрать за счёт продвижения мяча в конец зоны (тачдаун) или забив его в ворота (филдгол), также защита может набрать очки, сделав сейфти. Та команда, у которой по истечении матча больше очков, побеждает.</p>
           <a href="">Читать дальше ...</a>
       </div>
       <div class="grid_5 border">
           <img src="img/poster.jpg" alt="" width="360px">
       </div>
       <div class="clear"></div>
       <div class="greenLine"></div>
       <div class="grid_3">
           <h2 class="title">История</h2>
           <p class="desc">История возникновения американского футбола неразрывно связана с развитием футбола (соккера) и регби. Как гласит легенда, в 1823 году в школе Регби, во время футбольного матча шестнадцатилетний Уильям Уэбб Эллис (англ. William Webb Ellis) схватил мяч и побежал в сторону соперников. При этом следует понимать, что тут под футболом подразумевается не соккер, а один из множества вариантов игры, правила которой определялись каждой школой по своему усмотрению и не были чем-то устоявшимся. Несмотря на то, что факт не был достоверно установлен, через много лет Эллису поставили памятник, а на стенах его колледжа повесили табличку</p>
       </div>
       <div class="grid_3">
           <h2 class="title">Правила</h2>
           <p class="desc">Игра ведётся на прямоугольном поле 120 ярдов (110 метров) длиной и 53 1/3 ярдов (49 метров) шириной. У каждого конца поля, на расстоянии 100 ярдов друг от друга проведены линии цели (goal lines). 10-ярдовая очковая зона (end zone) находится между линией цели и границей поля.</p>
       </div>
       <div class="grid_3">
           <h2 class="title">Продолжительность</h2>
           <p class="desc">Игра продолжается 4 периода по 15 минут каждый с перерывом после второго периода. Каждый такой период называется «четвертью». Игра останавливается, когда мяч (или игрок с мячом) покинул поле, пас вперед не был пойман, мяч перешёл к другой команде, были заработаны очки, было нарушение правил, одна из команд взяла тайм-аут и в некоторых других случаях. Поэтому матч обычно продолжается около трех часов</p>
       </div>
       <div class="grid_3">
           <h2 class="title">Очки</h2>
           <p class="desc">Тачдаун (touchdown) — 6 очков. Тачдаун зарабатывается, когда игрок с мячом забегает в очковую зону соперника или получает пас, находясь в очковой зоне соперника или мяч в руках игрока полностью попадает в очковую зону, причем сам игрок может в зоне не находиться.
Команда, заработавшая тачдаун, может заработать дополнительно ещё одно очко (экстра-пойнт), забив гол, или 2 очка, сделав ещё один тачдаун. Мяч при этом ставится в 3-х ярдах от очковой зоны (по правилам студенческого американского футбола) и 2-х или 15-и ярдах от очковой зоны (по правилам НФЛ).
Гол в ворота (Field goal) — 3 очка. Мяч, забитый ногой, во время игры, обычно с четвёртой попытки (не после тачдауна) в ворота соперника (между штанг и над перекладиной).</p>
       </div>
       <div class="clear"></div>
       <div class="greenLine"></div>
       <div class="grid_12 desc-short">
       <div class="grid_4 alpha">
           <p class="">Американский футбол — самый популярный вид спорта в США, собирающий у экранов телевизоров миллионы зрителей. Один из опросов показал, что американский футбол является любимым видом спорта среди жителей США с 1972 года, когда он впервые обошёл по этому показателю бейсбол.</p>
       </div>
       <div class="grid_4">
           <p class="">Американский футбол — высокотравматичный вид спорта. Особую опасность представляют многократные небольшие травмы головы. Они возникают из-за того, что игроки часто сталкиваются головами, могут обладать накопительным эффектом и привести к хронической травматической энцефалопатии и в итоге к преждевременной смерти.</p>
       </div>
       <div class="grid_4 omega">
           <p class="">Различные нарушения наказываются перемещением мяча в ту или другую сторону на определённое число ярдов; розыгрыш обычно переигрывается с той же попытки. При этом нападающая команда может получить новую серию из 4-х попыток либо автоматически, либо потому, что наказание передвинуло мяч на 10 ярдов или больше. Если наказание перенесло бы мяч в очковую зону, такое наказание заменяется на наказание, составляющее половину расстояния до очковой зоны.</p>
       </div></div>
       <div class="clear"></div>
       <div class="footer">
           <p>© My Magazine</p>
       </div>
   </div>
</body>
</html>