<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Layouts</title>
</head>
<body>
    <p>Ничто не стоит на месте, особенно в мире IT!</p>
    <p>На каждом этапе верстать становилось проще с точки зрения технологии и тяжелее с точки зрения увеличения порога вхождения в эту технологию.</p>
    <p>Вначале интернет выглядел как книга, вся информация в одном потоке, предпалагала последовательное чтение контента. В первую очередь захотелось располагать информацию в несколько столбцов, для этого нашелся выход в виде невидимых таблиц формирующих каркас внуть которого и помещался контент.</p>
    <ul>
        <li><a href="">Table</a></li>
        <li><a href="">Float</a></li>
        <li><a href="flexbox.html">Flexbox</a></li>
        <li><a href="">Grid</a></li>
    </ul>
    <h2>remember</h2>
    <ul>
        <li>box-sizing: <span title="значениие по умолчанию">content-box</span> | <span title="отступы и рамки внутрь объекта без увеличения размеров блока">border-box</span></li>
        <li></li>
    </ul>
    <div class="gal">
        <div class="gal__item"><a href="simple.html">
                <span class="item__title">simple</span>
                <img src="simple.png" alt="" class="item__img">
                <span class="item__desc"></span>
            </a></div>
        <div class="gal__item"><a href="grid960.html">
                <span class="item__title">960 Grid</span>
                <img src="grid960-1.png" alt="" width="200">
                <span class="item__desc"></span>
            </a></div>
        <div class="gal__item"><a href="">
                <span class="item__title"></span>
                <img src="" alt="">
                <span class="item__desc"></span>
            </a></div>
        <div class="gal__item"><a href="">
                <span class="item__title"></span>
                <img src="" alt="">
                <span class="item__desc"></span>
            </a></div>
    </div>
</body>
</html>